body{


font-family:Arial;
margin:0;
background:#f4f7f6;


}


header{


background:#14532d;
color:white;
padding:20px;
text-align:center;


}


nav a{


color:white;
margin:10px;
text-decoration:none;
font-weight:bold;


}


.search{


text-align:center;
padding:20px;


}


.search input{


padding:10px;
width:250px;


}


.filters button{


padding:8px 12px;
margin:5px;
background:#14532d;
color:white;
border:none;
cursor:pointer;


}


.intro{


padding:30px;
text-align:center;


}


.grid{


display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:30px;


}


.card{


background:white;
padding:20px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
transition: 0.3s;


}
.card:hover{
  transform:scale(1.05);
}


.modules{


background:#eef6f2;


}


.types{


padding:30px;
text-align:center;


}


.types ul{


list-style:none;
display:flex;
justify-content: space-between;
}
.quiz-section{


padding:40px;
text-align:center;


}


.quiz-box{


max-width:500px;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);


}


.question{
    text-align: left;
}
button{


background:#14532d;
color:white;
border:none;
padding:10px 15px;
margin-top:10px;
cursor:pointer;


}


.glossary{


padding:30px;
margin:30px;
background-color:rgb(105, 122, 105);
border-radius: 1.5rem;


}
